@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');



html body{font-family: 'Roboto', sans-serif;}

.App {

  text-align: center;

}

.linksP{padding-top:30px; margin: 0 }

.linksP a{color:#999; margin-right:12px; font-weight:300}

.footer .bottom{color:#999}

.App-logo {

  animation: App-logo-spin infinite 20s linear;

  height: 40vmin;

}

.emailLink{color: #fff}

.emailLink:hover{text-decoration: none; color:#ddc080}

.textStyle1{background-clip: text;text-shadow: 1px -1px 1px #111;

  -webkit-background-clip: text;

  color: #fff; font-style: italic;

  background-image: linear-gradient( 135deg, #69FF97 10%, #69FF97 100%);}

  .textStyle2{background-clip: text;text-shadow: 2px -1px 1px #3813C2;

    -webkit-background-clip: text;

    color: #fff; background-image: linear-gradient( 135deg, #FA742B 10%, #FA742B 100%);}



      .textStyle3{background-clip: text;

    -webkit-background-clip: text;

    color: #fff;  text-shadow: 3px -1px 1px #3B2667}



.App-header {

  background-color: #282c34;

  min-height: 100vh;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  font-size: calc(10px + 2vmin);

  color: white;

}



.App-link {

  color: #61dafb;

}



.top-strip{background: #101820; line-height: 55px;font-weight: 300; }

.top-strip .left{letter-spacing: 2px; color:#fff; text-align: left; font-size: 16px; text-transform: uppercase}

.contact{color:#fff; letter-spacing: 2px; font-size: 16px; border-right: 2px solid #fff; padding-right: 20px; }

.contact img{width: 30px;}

.top-strip .left img{width: 35px;}

.social{ padding-left: 20px}

.social img{ margin-left: 20px; width:34px}

.dropdown-menu{width: 12rem}

.dropdown-menu.show a{ color:#000; text-transform: capitalize;  font-size: 14px;letter-spacing: 1px;font-weight: 400;}

.header{background: #000; text-align: left; padding: 10px 0}

.header .bg-dark{background: #000!important; padding: 0}

.header .bg-dark a.dropdown-toggle{padding: 0; color: #fff;}

.header nav a{color: #fff; position: relative; font-size: 16px; text-decoration: none; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; margin-left: 19px;}

.header nav a:hover{color:#ddc080}

.header nav a.active{border-bottom: 3px solid #ddc080; color:#ddc080}

.header nav {margin-right: 0!important}

.header .container{padding: 0 10px}

.header .navbar-brand .active{ border: 0}





@keyframes App-logo-spin {

  from {

    transform: rotate(0deg);

  }

  to {

    transform: rotate(360deg);

  }

}





@media (max-width: 900px) {

  

  .affiliateSection h2{font-size: 35px;}

  .productPage h3{margin-top: 0px}

  .top-strip{ padding: 10px 0;}

  .list-inline, .footer .bottom{text-align: center}

  body .text-right {

      text-align: center !important;padding-top: 10px;

  }

  .contact {

      letter-spacing: 1px;

      border-right: 2px solid #fff;

      padding-right: 10px;

  }

  .social img {

    margin-left: 10px;

  }

  .social {

    padding-left: 10px;

}

.header nav a{letter-spacing: 1px;

  margin-left: 10px;font-size: 12px;}

  .header nav {

    padding-top: 20px;

}

img.logo{width: 120px;}

.slider h2 {

  font-size: 34px;

}

.slider .col-sm-12{padding: 0}

.slider h3 {

  font-size: 14px;    margin: 0 0 10px;}

  .slider h3::after {

    height:3px;margin: 0;

  }

  .carousel .slide .legend{ bottom: 10px; padding: 0}

  .slider{padding:20px 0; height: auto; background-size: cover;}

  .bestSeller .block, .product01 .col{margin-bottom: 20px; text-align: center}

  .bestSeller h2{font-size: 35px}

  .productSlider p{font-size: 23px}

  .productSlider h3{margin-top: 20px}

  .product01 h3{font-size: 15px}

  .oil h2 {



    font-size: 22px;

  }

  .oil1 {



        background-size: auto auto;

    max-height: inherit;

    height: auto;

    background-size: cover;

}

.product01 .blk{border:0;}

.product01 .blk::before, .product01 .blk::after {height: 5px;}

.intro01 .white-bg{text-align: center !important;}

.productPage .card{margin-bottom: 20px}

.aboutUsPage h2{font-size: 25px}

.top-strip .left{text-align: center}

.header{padding: 10px 0;}

.productPage h3{font-size: 28px}

.mobileOnly{display: block}

.pcOnly{display: none}

.rightImg, .leftImg{ display: block;     width: auto;

  max-width: inherit;

  float: none;

  margin: 10px auto;}

  .aboutPageSection h3{font-size: 20px}

  .aboutPageSection p, .aboutPageSection ul li{font-size: 16px; line-height: 28px;}

  .affiliateSection h3{font-size: 20px}

  .affiliateSection p, .affiliateSection ul li{font-size: 16px; line-height: 28px;}

  .affiliateSection h2#Mission{font-size: 35px; margin-top: 40px; color: #573369;line-height: 55px; }

  .aboutUsPage{padding: 0}

  .bestSeller .container{padding: 0}

    .navbar-nav{text-align: left; line-height: 40px;     margin-top: 40px;}

    .dropdown-menu.show {background: none;}

    .dropdown-menu.show a, .footer .bottom{color: #ccc}

    .header nav a.active{border-bottom: 0}

    .header .navbar-nav > a, .dropdown > a {border-bottom: 1px solid #111!important;}

    .dropdown-divider{    border-top: 0!important;}

    .socail .title{display: block; margin: 0; margin-bottom: 30px; position: relative}

    .footer .socail span{font-size: 22px;background: #000;    position: relative;z-index: 9; padding: 0 15px}

    .footer .socail .title:after{content: ""; height: 1px; width: 100%;     left: 0;  top: 17px; background: #333; position: absolute}

    .footer .links .list-inline-item{    margin: 0;margin-bottom: 16px; display: block;     font-size: 16px;}

    .coontactus{margin-bottom: 30px;}

    .bestSeller .block h3{margin-bottom: 0}

    .image-gallery{margin-bottom: 30px}

    .slider h2{font-size: 15px}

    .slider a.btn-primary{font-size: 11px;}

    .carousel .slide .slider a.btn-primary img{ width:16px;}

    .slider p{font-size: 11px; font-size: 11px;

      margin-bottom: 10px;}

      

}



@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {

    justify-content: flex-end;

    }

}


.footer{background: #000; padding:30px 0; display: block; color:#fff;  text-align: left; }

.footer .top{border-bottom: 1px solid #333333;}

.footer .top a{color: #fff; margin-right: 10px; font-weight: 300; letter-spacing: 1px;}

.footer .top a.active{font-weight: 500;     color: #ddc080;}

.footer .bottom{padding-top: 20px; font-size: 13px; letter-spacing: 1px; font-weight: 300}

.footer .socail span{ font-weight: 500; }

.footer .socail img{  margin-left: 10px}
